extends ../layout/index
block contenido
     main.container.mt-5
          .row
               .col-md-5
                    img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")

               .col-md-7
                    h1 #{pagina}
                    blockquote Quisque et gravida libero. Vivamus quis dapibus mi. Sed quis vestibulum ante, a malesuada nisl. Praesent rhoncus sem venenatis nulla ultrices, in condimentum magna venenatis. Ut quis neque eget ante dignissim iaculis eu pharetra lorem. 
                    p Mauris scelerisque posuere dolor vel lobortis. Ut mauris lorem, semper et metus id, tempor fermentum nisi. Quisque id eleifend velit. Fusce auctor libero non aliquet efficitur. Duis nec egestas sapien. Proin elementum tincidunt nisl, quis efficitur risus dictum sit amet. Aliquam imperdiet eget dui vitae fermentum. 
                    p Duis non ante nisi. Mauris aliquet, ex ac lobortis congue, nibh ante feugiat nibh, id euismod elit ligula eget tortor. Nullam luctus, orci a tincidunt consectetur, odio nunc hendrerit libero, vitae dictum ante massa id felis. Maecenas vitae porttitor orci. 
     .listado-iconos
          .container.mt-5.py-5.text-center
               .row
                    .col-md-4
                         img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                         h2 Seguridad
                         p Duis nec egestas sapien. Proin elementum tincidunt nisl, quis efficitur risus dictum sit amet. Aliquam imperdiet eget dui vitae fermentum. 
                    .col-md-4
                         img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                         h2 Mejores Destinos
                         p Duis nec egestas sapien. Proin elementum tincidunt nisl, quis efficitur risus dictum sit amet. Aliquam imperdiet eget dui vitae fermentum. 
                    .col-md-4
                         img(src="img/icono_precios.svg", class="img-fluid mb-4")
                         h2 Mejor precio
                         p Duis nec egestas sapien. Proin elementum tincidunt nisl, quis efficitur risus dictum sit amet. Aliquam imperdiet eget dui vitae fermentum. 







     